In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("./비교분석.csv")

In [4]:
data

,Unnamed: 0,위사_소재명_enc,경사_성상_비율 #3_std,제직_중량_생지_std,전처리_CH3COOH_std,Dorosperse Yellow KKL_std,Dorosperse Red KKL_std,Dorosperse Blue KKL_std,Dianix Yellow AM-2R_std,Dianix Red AM-SLR_std,...,Synolon Black AK-NB_prop_std,Dorosperse Dark Grey KKL_prop_std,Dianix Grey AM-SLR_prop_std,Synolon Dark Grey AK_prop_std,Dianix Yellow Brown AM-R_prop_std,Dorosperse Brown K-3LR_prop_std,Synofast 28_prop_std,색상_L*,색상_a*,색상_b*
0,1519,88,81,242,1.0,0.000,1.333,2.667,0.0,0.0,...,0,0,0,0,0,0,0,25.42000,8.9475,-22.77125
1,1558,88,81,242,1.0,0.000,2.667,1.333,0.0,0.0,...,0,0,0,0,0,0,0,26.07500,20.0275,-15.02750
2,1790,88,81,242,1.0,1.333,0.000,2.667,0.0,0.0,...,0,0,0,0,0,0,0,31.12500,-17.2800,1.57625
3,3529,88,81,242,1.0,0.000,4.000,2.000,0.0,0.0,...,0,0,0,0,0,0,0,21.79375,16.4475,-13.35875

In [82]:
data2 = data.iloc[:, -3:]

data2

      색상_L*    색상_a*     색상_b*
0  25.42000   8.9475 -22.77125
1  26.07500  20.0275 -15.02750
2  31.12500 -17.2800   1.57625
3  21.79375  16.4475 -13.35875

In [83]:
data2

      색상_L*    색상_a*     색상_b*
0  25.42000   8.9475 -22.77125
1  26.07500  20.0275 -15.02750
2  31.12500 -17.2800   1.57625
3  21.79375  16.4475 -13.35875

In [84]:
import cv2
import numpy as np

# L*a*b* 값 정의
lab_value = np.array([[[25.42, 8.9475, -22.77125]]], dtype="float32")

# OpenCV는 L*a*b* 값을 0-100, -128 to 127, -128 to 127 범위로 기대합니다.
# 일반적으로 L*a*b* 값은 이 범위에 맞춰 입력되어야 합니다.
# lab_value 배열은 이미 이 범위에 맞춰져 있다고 가정합니다.

# L*a*b*에서 RGB 색공간으로 변환
# OpenCV에서는 RGB가 아닌 BGR 포맷을 사용하므로 최종 변환 후 채널 순서를 변경해야 합니다.
bgr_value = cv2.cvtColor(lab_value, cv2.COLOR_LAB2BGR)
rgb_value = bgr_value[0][0][::-1]  # BGR을 RGB로 순서 변경

# 변환된 RGB 값을 출력
print(rgb_value)

[0.208162   0.22536172 0.37143707]

In [85]:
import cv2
import numpy as np

# L*a*b* 값 정의
lab_value = np.array([[[25.42, 8.9475, -22.77125]]], dtype="float32")

# L*a*b*에서 RGB 색공간으로 변환
rgb_value = cv2.cvtColor(lab_value, cv2.COLOR_LAB2RGB)

# 변환된 RGB 값
rgb_value = rgb_value[0][0]

# 변환된 RGB 값을 출력
print(rgb_value)

[0.208162   0.22536172 0.37143707]

#### 함수구현 
- 분석은나중에
-https://web.archive.org/web/20111111073514/http://www.easyrgb.com/index.php?X=MATH&H=08#text8
-https://stackoverflow.com/questions/46674833/how-to-get-a-channel-from-lab-lab-color-space-in-python

In [86]:
import math

def lab2rgb(l_s, a_s, b_s):
    var_Y = (l_s + 16) / 116.0
    var_X = a_s / 500.0 + var_Y
    var_Z = var_Y - b_s / 200.0

    if var_Y**3 > 0.008856:
        var_Y = var_Y**3
    else:
        var_Y = (var_Y - 16/116) / 7.787
    if var_X**3 > 0.008856:
        var_X = var_X**3
    else:
        var_X = (var_X - 16/116) / 7.787
    if var_Z**3 > 0.008856:
        var_Z = var_Z**3
    else:
        var_Z = (var_Z - 16/116) / 7.787

    X = 95.047 * var_X
    Y = 100.000 * var_Y
    Z = 108.883 * var_Z

    var_X = X / 100.0
    var_Y = Y / 100.0
    var_Z = Z / 100.0

    var_R = var_X * 3.2406 + var_Y * -1.5372 + var_Z * -0.4986
    var_G = var_X * -0.9689 + var_Y * 1.8758 + var_Z * 0.0415
    var_B = var_X * 0.0557 + var_Y * -0.2040 + var_Z * 1.0570

    if var_R > 0.0031308:
        var_R = 1.055 * (var_R ** (1/2.4)) - 0.055
    else:
        var_R = 12.92 * var_R
    if var_G > 0.0031308:
        var_G = 1.055 * (var_G ** (1/2.4)) - 0.055
    else:
        var_G = 12.92 * var_G
    if var_B > 0.0031308:
        var_B = 1.055 * (var_B ** (1/2.4)) - 0.055
    else:
        var_B = 12.92 * var_B

    R = var_R * 255.0
    G = var_G * 255.0
    B = var_B * 255.0

    return R, G, B

# 이 함수는 주어진 L*a*b* 값을 RGB 값으로 변환합니다.
# 예를 들어:
R, G, B = lab2rgb(25.42, 8.9475, -22.77125)
print(R, G, B)

53.07723315495199 57.46896050808887 94.70754149923732

In [92]:
import math

def lab2xyz(l_s, a_s, b_s):
    var_Y = (l_s + 16) / 116.0
    var_X = a_s / 500.0 + var_Y
    var_Z = var_Y - b_s / 200.0

    if var_Y**3 > 0.008856:
        var_Y = var_Y**3
    else:
        var_Y = (var_Y - 16/116) / 7.787
    if var_X**3 > 0.008856:
        var_X = var_X**3
    else:
        var_X = (var_X - 16/116) / 7.787
    if var_Z**3 > 0.008856:
        var_Z = var_Z**3
    else:
        var_Z = (var_Z - 16/116) / 7.787

    X = 95.047 * var_X
    Y = 100.000 * var_Y
    Z = 108.883 * var_Z


    return X,Y,Z

# 이 함수는 주어진 L*a*b* 값을 RGB 값으로 변환합니다.
# 예를 들어:
X, Y, Z = lab2xyz(25.42, 8.9475, -22.77125)
print(X, Y, Z)

5.0107993704641425 4.55256668528845 11.371451774127697

In [95]:
rgb_list=[]
for index, row in data2.iterrows():
    R,G,B=lab2xyz(row["색상_L*"],row["색상_a*"],row["색상_b*"])
    rgb_list.append([R,G,B])

rgb_df= pd.DataFrame(rgb_list,columns=["X","Y","Z"])

# 원래 데이터프레임에 RGB 데이터프레임을 연결합니다.
df_rgb = pd.concat([data2, rgb_df], axis=1)

#### XYZ할따 아래 링크로 검증하보세요
- https://nanotools.app/lab-to-xyz?lab=%2825.42%2C8.9475%2C-22.77125%29

In [97]:
df_rgb

      색상_L*    색상_a*     색상_b*         X         Y          Z
0  25.42000   8.9475 -22.77125  5.010799  4.552567  11.371452
1  26.07500  20.0275 -15.02750  6.210284  4.771978   9.139977
2  31.12500 -17.2800   1.57625  4.880688  6.704712   6.883604
3  21.79375  16.4475 -13.35875  4.386763  3.458486   6.588968

- http://colormine.org/convert/lab-to-xyz

- https://en.wikipedia.org/wiki/Color_difference cie94는 해당 값의 오차를 보여줄분 실제값은 우리가알지못하고잇다는걸 유의해야한다

### XYZ 색공간
- 인간의 색상인식을 기반으로 하여 설계됨, 
- 해당코드에ㅓ는 색상의 정확한 변환과 표준화를 위한 기준점으로 활용
#### 현재 구성도는 LAB -> XYZ -> RGB로 변환되는 방식
- lab와 RGB는 구조가 다르기때문에 필요함

https://www.vbforums.com/showthread.php?762919-RGB-XYZ-and-Lab-conversions